* {
    border: 1px solid red;
    margin: 0;
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 7fr;
    height: 100vh;
    width: auto;
}

.header {
    grid-column: 1 / 3;
    grid-row: 1/2;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar {
    grid-column: 1/2;
    grid-row: 2/3;
}

.content {
    grid-column: 2/3;
    grid-row: 2/3;
}

#cards-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 30px;
    height: 100%;
    padding: 30px;
}

.book-card{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}