* {

    margin: 0;
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 7fr;
    height: 100vh;
    width: auto;
}

.header {
    grid-column: 1 / 3;
    grid-row: 1/2;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid black;
}

.sidebar {
    grid-column: 1/2;
    grid-row: 2/3;
    border-right: 3px solid black;
}

.content {
    grid-column: 2/3;
    grid-row: 2/3;
}

#cards-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 30px;
    height: 100%;
    padding: 30px;
}

.book-card{
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;
}

.book-buttons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    height: 100%;
    border-top: 2px solid black;
    
}

.book-data{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.read-btn, .reading-btn, .remove-btn{
    width: 100%;
    height: auto;
}