* {

    margin: 0;
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 7fr;
    height: 100vh;
    width: auto;
}

.header {
    grid-column: 1 / 3;
    grid-row: 1/2;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid black;
}

.sidebar {
    grid-column: 1/2;
    grid-row: 2/3;
    border-right: 3px solid black;
}

.content {
    grid-column: 2/3;
    grid-row: 2/3;
    height: 100%;
}

#cards-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    padding: 30px;
}

.book-card{
    max-width: 250px;
    max-height: 290px;
    border: 2px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;
}

.book-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 2px solid black;
}

.book-data{
    display: grid;
    grid-template-rows: 5fr 2fr 1fr;
    gap: 10px;
    padding-top: 10px;
}

.read-btn, .reading-btn, .remove-btn{
    max-width: 55px;
    height: auto;
}

.book-title, .book-author, .book-pages{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.book-title{
    font-size: 32px;
}

.book-author{
    font-size: 24px;
}

.book-pages{
    font-size: 20px;
}

.status-read{
    background-color: rgba(0, 170, 0, 0.804);
}

.status-reading{
    background-color: rgba(253, 253, 0, 0.877);
}